.fa-paper-plane {
  margin-left: 10px;
}

#email > a {
  text-decoration: none;
  font-size: 24px;
  color: var(--secondary-orange);
}

#email > a:hover {
  color: var(--main-orange);
}

.footer-icons-container {
  font-size: 28px;
}

.footer-icon-item {
  color: var(--secondary-orange);
  padding: 12px;
}

.footer-credits {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid white;
}

.footer-credit-link {
  color: var(--secondary-orange);
}
