.header-container {
  display: flex;
  align-items: center;
  max-width: 65rem;
  gap: 12px;
  margin: 2rem;
}

.scroll-text,
.reverse-scroll-text {
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  font-size: 10rem;
  width: max-content;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.scroll-text {
  bottom: 50%;
  animation: scroll 40s linear infinite;
}

.reverse-scroll-text {
  bottom: 10%;
  animation: scroll-reverse 40s linear infinite;
}
#main-img {
  box-shadow: 8px 8px 0px 0px #000000;
  border: 1px solid var(--main-orange);
  z-index: 5;
}

#about-container {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  border-radius: 10px;
  padding: 3rem 1rem 6rem 1rem;
  background: rgba(219, 226, 239, 0.55);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 5;
  font-size: 18px;
  isolation: isolate;
  position: relative;
}

.skills-container {
  margin-top: 1.5rem;
  text-align: center;
}

.social-icons-container {
  display: flex;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  gap: 18px;
  font-size: 36px;
}

.header-icon-item {
  text-align: center;
  color: var(--secondary-orange);
}

.skills-icons {
  width: 3rem;
}

@keyframes scroll {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes scroll-reverse {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
