@media (max-width: 768px) {
  .nav-list {
    display: none;
  }

  #burger-menu {
    display: block;
  }

  .featured-project,
  .other-projects .project-card {
    flex-basis: 100%;
  }

  .featured-projects .project-card {
    flex-direction: column;
  }

  .featured-projects .project-image,
  .featured-projects .project-info-container {
    width: 100%;
  }

  .featured-projects .project-image {
    height: 16rem;
    width: 24rem;
    object-fit: contain;
  }

  .other-projects .projects-grid {
    grid-template-columns: 1fr;
  }

  .technologies-container {
    justify-content: center;
  }

  .tech-box {
    flex-basis: auto;
    max-width: calc(50% - 5px);
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 18;
  }

  #logo {
    font-size: 28px;
  }

  .nav-list {
    font-size: 12px;
    gap: 10px;
    margin: 0px;
  }

  .header-container {
    flex-direction: column;
    max-width: 20rem;
  }

  #main-img {
    margin-top: 2rem;
  }
  #about-container {
    padding: 2rem 1rem 6rem 1rem;
    margin-bottom: 3.5rem;
  }

  .scroll-text,
  .reverse-scroll-text {
    font-size: 8rem;
  }

  .scroll-text {
    bottom: 40%;
    animation: scroll 25s linear infinite;
  }

  .reverse-scroll-text {
    bottom: 10%;
    animation: scroll-reverse 25s linear infinite;
  }

  #projects-container {
    padding: 60px 0px;
  }
}

@media (max-width: 480px) {
  .tech-box {
    max-width: calc(50% - 5px);
  }
}
